@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media all and (max-width: 769px){
    .content .largeHeader {display: none;}
    .content .smallHeader {display: block;}
}

@media (min-width: 768px) {

    .content .largeHeader {display: block ;}
    .content .smallHeader {display: none;}

    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .sidebar-nav .navbar li a:hover{
        background-color: #6b9dbb;
    }
}


